.section-container {
  .section-header {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-small);


    .section-image {
      width: 100%;
      max-width: 6em;
      height: auto;
      object-fit: contain;
      margin-bottom: var(--spacing-small);
    }

    h2 {
      font-size: var(--font-large);
    }
  }

  .products-container {
    column-count: 2;
    column-gap: var(--spacing-medium);
    width: 100%;
    justify-content: center;

    .product-component {
      display: inline-block;
      width: 100%;
      break-inside: avoid-column;
      margin-bottom: var(--spacing-medium);
    }

  }

}

@media print {
  .products-container {
    break-before: page;
    break-inside: avoid;
  }

  .products-container:first-child {
    break-before: auto !important;
  }
}
