.section-container {
  column-count: 2;
  column-gap: var(--spacing-medium);
  width: 100%;
  justify-content: center;
}

img {
  width: 100%;
  max-width: 4em;
  height: auto;
  object-fit: contain;
  margin-bottom: var(--spacing-small);
}

h2 {
  font-size: var(--font-large);
}

.product-component {
  display: inline-block; // Importante para que respete el flujo de columnas
  width: 100%;
  break-inside: avoid-column; // Evita cortes feos en las columnas
  margin-bottom: var(--spacing-medium);
}


@media print {
  .section-container {
    break-before: page;
    break-inside: avoid;
  }

  .section-container:first-child {
    break-before: auto !important;
  }
}
