.section-container {
  .section-header {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-small);


    .section-image {
      width: 100%;
      max-width: 6em;
      height: auto;
      object-fit: contain;
      margin-bottom: var(--spacing-small);
    }

    .section-title {
      font-size: var(--font-large);
      text-transform: uppercase;
    }


    .table-of-contents {
      background: var(--color-background);
      padding: 1em;
      border-radius: 8px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

      ul {
        list-style: none;
        padding: 0;
      }

      li {
        margin: 5px 0;
      }

      a {
        text-decoration: none;
        color: var(--primary-color);
        cursor: pointer;
        border: none;
        font-size: 1em;
        transition: color 0.3s ease;

        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }


  .products-container {
    column-count: 2;
    column-gap: var(--spacing-medium);
    width: 100%;
    justify-content: center;

    .product-component {
      display: inline-block;
      width: 100%;
      break-inside: avoid-column;
      margin-bottom: var(--spacing-medium);
    }

  }

}

@media print {
  .section-container {
    break-before: page;
    break-inside: avoid;
  }

  .section-container:first-child {
    break-before: auto !important;
  }
}
