@use "assets/styles/styles.scss";
.catalog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-large);
  width: 75vw;
  margin: auto;
  background-color: white;
  gap: var(--spacing-large);

  .go-top-button {
    display: block;
    position: fixed;
    z-index: 1000;
    right: var(--spacing-small);
    top: var(--spacing-small);
  }

  .catalog-header {
    .catalog-header-buttons {
      display: flex;
      gap: var(--spacing-small);
      justify-content: center;
      justify-items: center;
    }

    .logo-container {
      display: flex;
      padding: var(--spacing-large);
      justify-content: center;
      img {
        height: 12rem;
      }
    }

    .catalog-up-banner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      font-size: var(--font-small);
      gap: var(--spacing-small);
    }
  }

  .app-section-container {
    width: 100%;
  }

}

@media (max-width: styles.$breakpoint-tablet) {
  .catalog-container {
    width: 85vw;
    padding: var(--spacing-small);
    gap: var(--spacing-small);

    .logo-container img {
      height: 10rem;
    }
  }
}

@media (max-width: styles.$breakpoint-mobile) {
  .catalog-container {
    width: 95vw;
    padding: var(--spacing-small);

    .catalog-header {
      .logo-container {
        padding: var(--spacing-small);
        img {
          height: 8rem;
        }
      }
    }


  }



}


@media print {
  .catalog-container {
    width: 100%;

    .catalog-title {
      break-after: avoid;
      page-break-after: avoid;
      padding-top: 1em;
      margin-top: -5em; // Evita espacio en blanco accidental
    }

    .hidden-on-print {
      visibility: hidden;
      display: none;
    }
  }
}
