.catalog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-large);
  width: 60vw;
  margin: auto;
  background-color: white;
  gap: var(--spacing-large);

  .catalog-header {
    .catalog-header-buttons {
      display: flex;
      gap: var(--spacing-small);
       justify-content: center;
    }

    .catalog-title {
      font-size: var(--font-extra-large);
      font-weight: 800;
    }

    .logo-container {
      display: flex;
      img {
        height: 10rem;
      }
    }
  }

  .app-section-container {
    width: 100%;
  }
}



@media print {
  .catalog-container {
    width: 100%;
  }

  .catalog-title {
    break-after: avoid;
    page-break-after: avoid;
    padding-top: 1em;
    margin-top: -1em; // Evita espacio en blanco accidental
  }

  .catalog-header-buttons {
    visibility: hidden;
    display: none !important;
  }
}
