<div class="catalog-table">
  <h2>ABRAZADERAS TIPO "U"</h2>
  <table>
    <thead>
    <tr>
      <th>Código</th>
      <th>Descripción</th>
      <th>Precio</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>592</td>
      <td>ABRAZADERA T/U 1/2"</td>
      <td>$317,6</td>
    </tr>
    <tr>
      <td>556</td>
      <td>ABRAZADERA T/U 3/4"</td>
      <td>$317,8</td>
    </tr>
    <tr>
      <td>593</td>
      <td>ABRAZADERA T/U 1 1/4"</td>
      <td>$363,8</td>
    </tr>
    <tr>
      <td>594</td>
      <td>ABRAZADERA T/U 1 1/2"</td>
      <td>$366,3</td>
    </tr>
    <tr>
      <td>595</td>
      <td>ABRAZADERA T/U 2"</td>
      <td>$442,5</td>
    </tr>
    <tr>
      <td>596</td>
      <td>ABRAZADERA T/U 2 1/2"</td>
      <td>$475,0</td>
    </tr>
    <tr>
      <td>597</td>
      <td>ABRAZADERA T/U 3"</td>
      <td>$533,3</td>
    </tr>
    <tr>
      <td>598</td>
      <td>ABRAZADERA T/U 4"</td>
      <td>$614,8</td>
    </tr>
    <tr>
      <td>983</td>
      <td>ABRAZADERA T/U 6"</td>
      <td>$876,0</td>
    </tr>
    </tbody>
  </table>
  <div class="catalog-image">
    <img src="assets/imagen.png" alt="Abrazadera tipo U">
    <p>RH COMERCIAL</p>
  </div>
</div>
