<div class="catalog-container">
  <div class="go-top-button hidden-on-print">
    <button class="btn" (click)="window.scrollTo({
          top: 0,
          behavior: 'instant'})"> ^ </button>
  </div>

  <div class="catalog-header">
    <div class="catalog-header-buttons hidden-on-print">
      <button class="btn" [routerLink]="'/upload'"><span>Subir Datos en Excel</span></button>
      <button class="btn" (click)="fetchAndUpdateCatalog()"><span>Obtener Datos desde Excel y reprocesar</span></button>
      <button class="btn" (click)="window.print()"><span>Imprimir</span></button>
      <button class="btn" (click)="clearCatalog()"><span>Borrar Catalogo</span></button>
    </div>
    <div class="logo-container">
      <img src="assets/images/logos/logo-negro-tr.png">
    </div>
    <div class="catalog-up-banner hidden-on-print" *ngIf="sections">
      <p> {{ catalogSize  == 0 ? "NO HAY" : catalogSize}} ARTICULOS </p>
      <p *ngIf="lastUpdate">Última actualización: {{ lastUpdate | date:"dd/MM/yyyy 'a las' hh:mm a" }}</p>
    </div>
  </div>

  <app-section *ngFor="let section of sections"
               [section]="section"
               class="app-section-container"
               [attr.id]="section.id"
               #sectionRefs
               [allSections]="sections"
  />

</div>
