.section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-medium);
  width: max-content;
  padding: var(--spacing-large) 0;
  border-bottom: 2px dashed var(--color-outline);

  &:last-child {
    border-bottom: none;
  }
}

img {
  max-width: 4em;
  height: auto;
  margin-bottom: var(--spacing-small);
}
