.section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-medium);
  width: 100%;
  padding: var(--spacing-large) 0;
  border-bottom: 2px dashed var(--color-outline); // Separador entre secciones

  &:last-child {
    border-bottom: none; // Elimina el separador en la última sección
  }
}
