<div class="product-list-container">

  <div class="search-bar">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input
        type="text"
        nz-input
        placeholder="Buscar productos..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchInput($event)"
      />
    </nz-input-group>

    <ng-template #suffixIconButton>
      @if (searchTerm()) {
        <button nz-button nzType="primary" nzSearch (click)="clearSearch()">
          <nz-icon
            nzType="close-circle"
            nzTheme="fill"
            class="clear-icon"
          />
        </button>
      } @else {
        <button nz-button nzType="default">
          <nz-icon nzType="search"/>
        </button>
      }
    </ng-template>
  </div>

  <nz-spin [nzSpinning]="isLoading()">
    @if (!isLoading() && displayProducts.length === 0) {
      <div class="no-results">
        <h3>
          <nz-icon nzType="frown" nzTheme="outline" />
          No se encontraron resultados para los filtros aplicados.
        </h3>
        @if (searchTerm()) {
          <p>Intenta buscando otro término o <a (click)="clearSearch()" style="cursor: pointer;">limpia la búsqueda</a>.</p>
        }
      </div>
    }

    <div class="product-grid">
      @for (product of displayProducts; track product.product_id) {
        <app-product-card
          [product]="product"
          [quantity]="getQuantity(product)"
          (openInfo)="openProductInfo($event)"
          (increaseQty)="increaseQuantity($event)"
          (decreaseQty)="decreaseQuantity($event)"
          (addToCart)="addToCart($event)"
        ></app-product-card>
      }
    </div>
  </nz-spin>

  @if (!isLoading() && displayProducts.length > 0) {
    <div class="pagination-container">
      <nz-pagination
        [nzPageIndex]="page()"
        [nzPageSize]="limit()"
        [nzTotal]="total"
        (nzPageIndexChange)="onPageIndexChange($event)"
      ></nz-pagination>
    </div>
  }
</div>

<app-product-info
  #productInfoModal
  [onAddToCart]="addToCart.bind(this)"
></app-product-info>
