<div class="product-container">
  <div class="product-header">
    <h3 class="product-title">{{ product.name }}</h3>
    <img class="product-image" [src]="product.image">
  </div>

  <table class="product-table">
    <thead>
    <tr>
      <th>Código</th>
      <th>Descripción</th>
      <th>Precio</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of product.items">
      <td>{{ item.code }}</td>
      <td>{{ item.description }}</td>
      <td class="product-price">{{ item.price | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
    </tr>
    </tbody>
  </table>
</div>
