.product-container {
  font-size: var(--font-small);
  background: white;
  border-radius: var(--border-radius-md);
  padding: var(--spacing-medium);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;

    .product-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-weight: 600;
      color: var(--typeface-color);
      margin-bottom: var(--spacing-small);
      gap: var(--spacing-small);

      .product-title {
        font-size: var(--font-medium);
        text-align: left;
      }

      .product-image {
        max-width: 2em;
        height: auto;
        margin-bottom: var(--spacing-small);
      }
    }

  .product-category {
    color: var(--color-text-muted);
    margin-bottom: var(--spacing-small);
  }

  .product-price {
    font-weight: bold;
    color: var(--color-primary);
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      background-color: var(--color-table-header);
    }

    th, td {
      text-align: left;
      padding: var(--spacing-small);

    }

    th:last-child, td:last-child {
      width: 12%;
    }

    tr {
      border-bottom: 1px dot-dot-dash var(--color-border);
      transition: transform 10.8s ease-out, box-shadow 0.2s ease;

      &:not(.header-row):hover {
        background-color: var(--color-background);
        font-weight: var(--weight-semibold);
      }

      &:nth-child(even) {
        background-color: var(--color-outline);
      }
    }
    }
}

//@media (max-width: $breakpoint-tablet) {
//
//
//}
//
//@media (max-width: $breakpoint-mobile) {
//
//
//}

@media print {
  .product-container {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}
