<nz-layout>
  <nz-header class="app-header">
    <div class="header-logo">
      <img src="../assets/logo-sidebar.png" alt="logo"/>
    </div>
    <div class="header-icons">
      <app-cart-badge/>

    </div>
  </nz-header>

  <nz-layout class="inner-content">
    <nz-sider class="menu-sidebar"
              nzWidth="20vw"
              nzBreakpoint="md"
              [nzCollapsible]="true"
    >
      <app-menu/>
    </nz-sider>


    <nz-content class="router-content">
        <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>


</nz-layout>
