:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-sidebar {
  position: fixed;
  z-index: 10;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  background-color: white;
  min-width: 20vw;
  height: 100vh;
}

.app-header {
  width: 100%;
  z-index: 9999;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #35608e;
  height: 8vh;
  padding: 0 4em 0 0;

  .header-logo {
    padding: 16px;
  }

  .header-icons {
    padding-top: 1em;
  }
}

.inner-content {
  margin-top: 8vh;
  background: #fff;
  height: 100%;
}

.router-content {
  margin-left: 20vw;
}
