:host {
  display: block;
}

.menu-sidebar {
  position: fixed;
  z-index: 100;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  background-color: white;
  min-width: 20vw;
  height: 100vh;

  @media (max-width: 768px) {
    display: none;
  }
}

.app-header {
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #35608e;
  padding: 1em 1em 2em;
  //height: 56px;

  .header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .menu-toggle-btn {
    display: none;
    @media (max-width: 768px) {
      display: inline-flex;
      font-size: 32px;
      color: #fff;
    }
  }

    .header-logo {
      padding-top: 1em;
      img {
        height: 64px;
      }

  }

  .header-icons {
    display: flex;
    align-items: center;
    margin-top: 2em;
    padding-right: 1rem;
  }
}

.inner-content {
  margin-top: 56px;
  background: #fff;
  height: 100%;
}

.router-content {
  margin-left: 20vw;
  padding: 1rem;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}
