<ul nz-menu nzMode="inline" [nzInlineCollapsed]="false">

  @for (item of menuItems; track item.title) {

    <!-- Ítem con submenú -->
    @if (item.children?.length) {
      <li nz-submenu [nzTitle]="item.title" [nzIcon]="item.icon" [nzOpen]="true">
        <ul>

          @for (child of item.children; track child.title) {

            <!-- Submenú de Categorías -->
            @if (child.subMenuType === 'categories') {
              <li nz-submenu [nzTitle]="child.title" [nzIcon]="child.icon" [nzOpen]="true">
                <ul>
                  <nz-spin [nzSpinning]="isLoadingCategories()" class="categories-spin">
                    @for (cat of fullCategories(); track cat.category_id) {
                      <li
                        nz-menu-item
                        [nzSelected]="selectedCategory()?.category_id === cat.category_id"
                        (click)="onCategorySelected(cat)"
                      >
                        <div class="category-item">
                          <span class="category-name">{{ cat.category_name }}</span>
                          <span class="product-count">{{ cat.product_count }}</span>
                        </div>
                      </li>
                    }
                  </nz-spin>
                </ul>
              </li>
            }

            <!-- Submenú de Marcas -->
            @else if (child.subMenuType === 'brands') {
              <li nz-submenu [nzTitle]="child.title" [nzIcon]="child.icon" [nzOpen]="false">
                <ul>
                  <li nz-menu-item nzDisabled="true">
                    <span class="text-gray-400">Próximamente</span>
                  </li>
                </ul>
              </li>
            }

            <!-- Submenú genérico (si en el futuro hay más) -->
            @else {
              <li nz-menu-item [routerLink]="child.link" [nzDisabled]="child.disabled">
                <span nz-icon [nzType]="child.icon"></span>
                <span>{{ child.title }}</span>
              </li>
            }

          }

        </ul>
      </li>
    }

    <!-- Ítem sin submenú -->
    @else {
      <li nz-menu-item [routerLink]="item.link" [nzDisabled]="item.disabled">
        <span nz-icon [nzType]="item.icon"></span>
        <span>{{ item.title }}</span>
      </li>
    }

  }

</ul>
