<ul nz-menu nzMode="inline" [nzInlineCollapsed]="false">
  @for (item of menuItems; track item.title) {
    @if (item.subMenuType === 'categories') {
      <!-- Ítem principal: Catálogo -->
      <li
        nz-menu-item
        class="expandable"
        (click)="toggleCategories()"
      >
        <span nz-icon [nzType]="item.icon"></span>
        <span class="menu-title">{{ item.title }}</span>
        <span
          nz-icon
          nzType="down"
          class="expand-icon"
          [class.expanded]="showCategories()"
        ></span>
      </li>

      <!-- Bloque de categorías desplegable -->
      @if (showCategories()) {
        <div class="categories-container">
          <nz-spin [nzSpinning]="isLoadingCategories()" class="categories-spin">
            <ul class="category-list">
              @for (cat of fullCategories(); track cat.category_id) {
                <li
                  nz-menu-item
                  [nzSelected]="selectedCategory()?.category_id === cat.category_id"
                  (click)="onCategorySelected(cat)"
                >
                  <div class="category-item">
                    <span class="category-name">{{ cat.category_name }}</span>
                    <span class="product-count">{{ cat.product_count }}</span>
                  </div>
                </li>
              }
            </ul>
          </nz-spin>
        </div>
      }
    } @else {
      <li nz-menu-item [routerLink]="item.link" [nzDisabled]="item.disabled">
        <span nz-icon [nzType]="item.icon"></span>
        <span>{{ item.title }}</span>
      </li>
    }
  }
</ul>
