@import "ng-zorro-antd/ng-zorro-antd.dark.css";
@import "ng-zorro-antd/ng-zorro-antd.css";

:root {
}


.large-icon {
  font-size: 32px;
}

.light {
  .ant-layout > * {
    background-color: #a2b4c6;
  }
}

.dark {
  .ant-layout > * {
    background-color: #000000;
  }
}
