@use 'ngx-toastr/toastr';
@font-face {
  font-family: 'Mulish';
  src: url('/assets/fonts/Mulish-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('/assets/fonts/Mulish-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

html {
  font-family: var(--main-font);
  font-size: 10px;
  font-weight: var(--weight-semibold);
  background-color: var(--color-background);
  color: var(--color-on-background);
  scroll-behavior: smooth;
}

:root {
  --main-font: 'Mulish', 'Open Sans', 'Verdana', sans-serif;
  --typeface-alt: 'Open Sans', 'Verdana', sans-serif;
  --font-small: 0.7rem;
  --font-medium: 1.2rem;
  --font-medium-large: 1.7rem;
  --font-large: 2.2rem;
  --font-extra-large: 4rem;
  --weight-semibold: 500;
  --weight-hyperbold: 800;
  --border-radius-sm: 0.3rem;
  --border-radius-md: 1rem;
  --border-radius-xl: 1.5rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2.4rem;
  --color-primary: hsl(206, 100%, 38%);
  --color-secondary: hsl(206, 100%, 55%);
  --color-background: #fafafa;
  --color-outline: beige;
  --color-table-header: #e0e0a7;
  --color-highlight: #e3a229;
  --color-border: rgb(63, 57, 57);
  --transition-fast: 0.5s;
  --transition-slow: 1s;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-layout {
  display: grid;
  width: 100%;
  min-height: 100vh;
}


@media print {
  body {
    background-color:white;
  }
}

$breakpoint-tablet: 1024px;
$breakpoint-mobile: 667px;

.centered {
  @include flex-center;
}

.incolumn {
  display: flex;
  flex-direction: column;
}

.screen {
  @include grid-layout;
}

.black_word {
  font-weight: 900;

  span {
    font-weight: normal;
  }
}

.btn {
  color: var(--color-background);
  background-color: var(--color-primary);
  border-radius: 7px;
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 1em;
  border: 2px solid var(--color-primary);
  padding: var(--spacing-small);

  &:hover {
    cursor: pointer;
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    transition: var(--transition-fast);
  }
}

/* ----------------- CLASES PARA UTILIZAR ----------------- */
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.flex-center-vertical {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-column-space-between {
  display: flex !important;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-column-space-around {
  display: flex !important;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pointer:hover {
  cursor: pointer;
}

.border-box {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.cursor-not-allowed:hover {
  cursor: not-allowed;
}
