@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;800;900&family=Roboto:wght@300;400;500;600;700;900&display=swap');

:root {
  --main-font: 'Mulish', 'Open Sans', 'Verdana', sans-serif;
  --typeface-alt: 'Roboto', 'Open Sans', 'Verdana', sans-serif;
  --font-small: 0.7rem;
  --font-medium: 1.5rem;
  --font-large: 2.5rem;
  --font-extra-large: 4rem;
  --border-radius-sm: 0.3rem;
  --border-radius-md: 1rem;
  --border-radius-xl: 1.5rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2.4rem;
  --color-primary: hsl(206, 100%, 38%);
  --color-secondary: hsl(206, 100%, 55%);
  --color-background: #ededed;
  --color-outline: beige;
  --color-table-header: #e0e0a7;
  --color-border: rgb(63, 57, 57);
  --transition-fast: 0.5s;
  --transition-slow: 1s;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-layout {
  display: grid;
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

html {
  font-family: var(--main-font);
  font-size: 70%;
  background-color: var(--color-background);
  color: var(--color-on-background);
  scroll-behavior: smooth;
}

.centered {
  @include flex-center;
}

.incolumn {
  display: flex;
  flex-direction: column;
}

.screen {
  @include grid-layout;
}

.black_word {
  font-weight: 900;

  span {
    font-weight: normal;
  }
}

.btn {
  color: var(--color-background);
  background-color: var(--color-primary);
  border-radius: 7px;
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 1em;
  border: 2px solid var(--color-primary);
  padding: var(--spacing-small);

  &:hover {
    cursor: pointer;
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    transition: var(--transition-fast);
  }
}
